<p>Welcome to the Factory+ installation for <tt>{{acs.domain}}</tt>.

<p>Below are some links to some useful parts of the system. Everything
beyond this point will require authentication. Please contact your
Factory+ administrators if you don't already have credentials.

<ul>
    <li><a href="{{url.manager}}">Factory+ Manager</a>
    <li><a href="{{url.visualiser}}">MQTT traffic visualisation</a>
    <li><a href="{{url.activity}}">Activity monitor</a>
    <li><a href="{{url.admin}}">Advanced admin interface</a>
    <li>MQTT broker: <tt>{{url.mqtt}}</tt>
</ul>

{{! vi:set ft=html: }}
