<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} @ {{acs.domain}}</title>
  </head>

  <body>
    <h1>{{page.title}} @ {{acs.domain}}</h1>

    {{{body}}}

  </body>
</html>
{{! vi:set ft=html: }}
