<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} @ {{acs.domain}}</title>
    {{#if page.style ~}}
        <link rel=stylesheet href="/css/{{page.style}}.css">
    {{~/if}}
  </head>

  <body>
    {{#each page.script ~}}
        <script src="/js/{{this}}.js"></script>
    {{~/each}}

    <h1>{{page.title}} @ {{acs.domain}}</h1>

    {{{body}}}

  </body>
</html>
{{! vi:set ft=html: }}
