<ul>
  <li><a href="{{acs.http}}://manager.{{acs.domain}}">Manager</a>
  <li><a href="{{acs.http}}://visualiser.{{acs.domain}}">Visualiser</a>
  <li><a href="{{acs.http}}://configdb.{{acs.domain}}/editor">ConfigDB</a>
  <li><a href="{{acs.http}}://auth.{{acs.domain}}/editor">Auth</a>
</ul>

{{! vi:set ft=html: }}
